.party__mainoption {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: end;
    border: #7b776d solid 2px;
    border-radius: 20px;
    background: #1d1c18;
    padding: 0px 6px 6px;
}

.party__mainheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100%;
    gap: 4px;
}

.iconorder {
    position: relative;
}

.iconorder__img {
    width: 56px;
    height: 56px;
}

.iconorder__number {
    position: absolute;
    top: 12px;
    left: 22px;
    color: #332c24;
}

.leader {
    color: #362f29;
    font-family: "Fira Code", "Times New Roman", serif;
    box-sizing: border-box;
    padding-top: 6px;
    text-shadow:
            #b8afa8 1px -1px 0,
            #b8afa8 1px 1px 0,
            #b8afa8 -1px 1px 0,
            #b8afa8 -1px -1px 0,
            #b8afa8 0 -1px 0,
            #b8afa8 0 1px 0,
            #b8afa8 -1px 0 0,
            #b8afa8 1px 0 0;
}

.party__maintext {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 2px;
}

.main__img {
    width: 150px;
    height: 150px;
}

.main__level {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 30px;
}

.main__levelinput {
    color: white;
    background: transparent;
    box-sizing: border-box;
    text-align: end;
    font: inherit;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 900;
    width: 40px;
}

.main__health {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.main__healthinput {
    color: white;
    background: transparent;
    box-sizing: border-box;
    text-align: end;
    font: inherit;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 900;
}

.party__suboption {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: end;
    justify-content: space-between;
    border: #7b776d solid 2px;
    border-radius: 20px;
    background: #1d1c18;
    padding: 6px 20px 6px 6px;
}

.sub__img {
    width: 100px;
    height: 100px;
}

.party__subtext {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-left: 16px;
}

.sub__level {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.sub__levelinput {
    color: white;
    background: transparent;
    box-sizing: border-box;
    text-align: end;
    font: inherit;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 900;
    width: 40px;
}

.sub__health {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.sub__healthinput {
    color: white;
    background: transparent;
    box-sizing: border-box;
    text-align: end;
    font: inherit;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 900;
}

.skill {
    cursor: pointer;
    font-family: "Fira Code", "Times New Roman", serif;
    color: #f1ecc4;
    text-shadow:
            #b47d3a 1px -1px 0,
            #b47d3a 1px 1px 0,
            #b47d3a -1px 1px 0,
            #b47d3a -1px -1px 0,
            #b47d3a 0 -1px 0,
            #b47d3a 0 1px 0,
            #b47d3a -1px 0 0,
            #b47d3a 1px 0 0;
}

.party__label {
    color: #d2c1a3;
}

.ring__partysection {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.ring__partyline {
    background: #a19485;
    width: 100%;
    height: 2px;
}

@media (max-width: 797px) {
    .main__img {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 528px) {

    .iconorder__img {
        width: 40px;
        height: 40px;
    }

    .iconorder__number {
        top: 9px;
        left: 16px;
    }

    .main__img {
        width: 100px;
        height: 100px;
    }

    .main__level {
        justify-content: center;
        gap: 16px;
    }

    .main__levelinput {
        font-size: 16px;
    }

    .main__health {
        justify-content: center;
    }

    .main__healthinput {
        font-size: 16px;
    }

    .party__suboption {
        padding: 0 5px 0 0;
        width: 100%;
    }

    .party__subtext {
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .sub__level {
        justify-content: center;
    }

    .sub__health {
        justify-content: center;
    }

    .sub__img {
        width: 80px;
        height: 80px;
    }

    .sub__levelinput {
        font-size: 14px;
    }

    .sub__healthinput {
        font-size: 14px;
    }

}
