.page {
    /*font-family: var(--font-urbanist);*/
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    /*padding: 0px 200px;*/
    background: black;
}

.main {
    display: flex;
    flex-direction: column;
    /*min-height: 100vh;*/
    width: 100%;
    color: white;
}

.main h1 {
    margin: 0;
}

.main h2 {
    margin: 0;
}

.main h3 {
    margin: 0;
}

.main h4 {
    margin: 0;
}

.main h5 {
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blade__section {
    position: relative;
}

.blade__text {
    position: absolute;
    top: 10px;
    left: 100px;
}

.data {
    display: flex;
    flex-direction: column;
    margin-top: 14px;
    width: 14%;
}

.data__container {
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 30px;
    width: 90%;
}

.ring__headersection {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ring__headerline {
    background: #a19485;
    width: 100%;
    height: 3px;
}

.body {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 40px;
}

.menubuttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*gap: 60px;*/
}

.menuoptions {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.menuoption {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    color: white;
    background: #3d352a;
    border: #826e5c solid 2px;
    border-left: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 2px 4px 2px 40px;
    gap: 60px;
}

.menuoption:hover {
    background: #8ca912;
    border: #f8e75c solid 2px;
    border-left: none;
}

.menuoption:hover .circle__out {
    background: #e9f59e;
}

.menuoption:hover .circle__in {
    background: #e9f59e;
}

.menuoption__end {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    gap: 8px;
}

.circles {
    position: relative;
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
}

.circle__out {
    position: absolute;
    /*top: 0;*/
    right: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #4d453b;
}

.circle__mid {
    position: absolute;
    /*top: 0;*/
    right: 2px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #3d352a;
}

.circle__in {
    position: absolute;
    /*top: 0;*/
    right: 6px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #4d453b;
}

.systembutton {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    width: fit-content;
    border: #423a32 1px solid;
    border-radius: 16px;
    color: black;
    background: #d6cec3;
    padding: 6px 20px 6px 10px;
    margin-left: 50px;
    gap: 10px;
}

.party__main {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.party__mainoption {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: end;
    border: #7b776d solid 2px;
    border-radius: 20px;
    background: #1d1c18;
    padding: 0px 6px 6px;
}

.party__mainheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100%;
    gap: 4px;
}

.iconorder {
    position: relative;
}

.iconorder__number {
    position: absolute;
    top: 12px;
    left: 22px;
    color: #332c24;
}

.leader {
    color: #362f29;
    box-sizing: border-box;
    padding-top: 6px;
    text-shadow:
            #b8afa8 1px -1px 0,
            #b8afa8 1px 1px 0,
            #b8afa8 -1px 1px 0,
            #b8afa8 -1px -1px 0,
            #b8afa8 0 -1px 0,
            #b8afa8 0 1px 0,
            #b8afa8 -1px 0 0,
            #b8afa8 1px 0 0;
}

.party__maintext {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 100%;
}

.main__level {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

.main__health {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

.party__sub {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.party__suboption {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: end;
    justify-content: space-between;
    border: #7b776d solid 2px;
    border-radius: 20px;
    background: #1d1c18;
    padding: 6px 20px 6px 6px;
}

.party__subtext {
    display: flex;
    flex-direction: column;
    align-items: end;
    box-sizing: border-box;
    width: 100%;
    padding-left: 16px;
}

.sub__level {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.sub__health {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.skill {
    color: #f1ecc4;
    text-shadow:
            #b47d3a 1px -1px 0,
            #b47d3a 1px 1px 0,
            #b47d3a -1px 1px 0,
            #b47d3a -1px -1px 0,
            #b47d3a 0 -1px 0,
            #b47d3a 0 1px 0,
            #b47d3a -1px 0 0,
            #b47d3a 1px 0 0;
    /*-webkit-text-stroke: 0.6px #b47d3a;*/
}

.party__label {
    color: #d2c1a3;
}

.ring__partysection {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.ring__partyline {
    background: #a19485;
    width: 100%;
    height: 2px;
}

.guests {
    display: flex;
    flex-direction: row;
}

.guest {
    box-sizing: border-box;
    width: fit-content;
    border-radius: 8px;
    background: #e9e2d3;
    padding: 8px;
}

.menuoption__desc {
    background-image: linear-gradient(to right, #332c24, transparent);
}