.page {
    /*font-family: var(--font-urbanist);*/
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 16px 48px;
    background: black;
}

.main {
    display: flex;
    flex-direction: column;
    /*min-height: 100vh;*/
    width: 100%;
    color: white;
    /*gap: 16px;*/
}

.main h2 {
    margin: 0;
}

.top__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.status__container {
    position: relative;
    overflow: hidden;
    background: black;
    height: 100%;
    width: 100%;
}

@property --greenTopPos {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 45%;
}

@property --greenBotPos {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 65%;
}

@property --alphaPos {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 100%;
}

.status__health {
    position: absolute;
    height: 34px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6) 0%, #09f009 var(--greenTopPos), #09f009 var(--greenBotPos), rgba(0, 0, 0, 0.6) var(--alphaPos));
    top: 0;
    animation: healthPulse 1.3s infinite ease-in-out;
}

@keyframes healthPulse {
    0% {
        --greenTopPos: 45%;
        --greenBotPos: 65%;
        --alphaPos: 100%;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        height: 70px;
        opacity: 0.0;
        --greenTopPos: 10%;
        --greenBotPos: 50%;
        --alphaPos: 100%;
    }
}

@property --blurPos {
    syntax: "<percentage>";
    inherits: false;
    initial-value: -100%;
}

.status__blur {
    position: absolute;
    height: 48px;
    width: 100%;
    background: linear-gradient(to bottom, black 30%, rgba(0, 0, 0, 0.6) 100%);
    top: 0;
    transform: translateY(var(--blurPos));
    animation: blurSweep 3s infinite linear;
}

@keyframes blurSweep {
    0% {
        --blurPos: -100%;
    }
    100% {
        --blurPos: 350%;
    }
}

.equipment__container {
    display: flex;
    flex-direction: column;
}

.command__container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 16px 0;
    height: 100%;
}

.items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.outer__border {
    padding: 2px 2px;
}

.outer__border:hover {
    border: 3px solid;
    border-image: linear-gradient(130deg, #a0a3ef 0%, #a0a3ef 25%, transparent 25%, transparent 75%, #a0a3ef 75%, #a0a3ef 100%) 1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
    padding: 6px 5px;
}

.outer__border:hover .container {
    cursor: pointer;
    border: #6b65c8 2px solid;
}

.arrows__container {
    position: relative;
}

.arrows__leftcontainer {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-self: center;
    opacity: 0.7;
    height: min-content;
    position: absolute;
    top: 70px;
    right: 180px;
}

.arrows__rightcontainer {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-self: center;
    opacity: 0.7;
    height: min-content;
    position: absolute;
    top: 70px;
    left: 180px;
}

.arrow__left {
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-right: 16px solid white;
    width: 0;
    height: 0;
}

.arrow__right {
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 16px solid white;
    width: 0;
    height: 0;
}

.body {
    display: flex;
    flex-direction: column;
}

.item__header {
    display: flex;
    flex-direction: column;
}

.item__description {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 24px;
}
